<table class="est" *ngIf="carritos != undefined">
    <thead>
      <tr class="card-title">
        <th>Nombre del Carrito</th>
        <th>Fecha de Creación</th>
        <th><li><a  class="btn tooltipped" data-tooltip="Nuevo carrito" data-position="bottom" (click)="FCrear()">
              <i class="material-icons">add</i>
            </a></li>Nuevo carrito</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carrito of carritos">
        <td>{{ carrito.Nombre }}</td>
        <td>{{ FormatDate(carrito.FechaCreacion) }}</td>
        <td><a  (click)="eliminarCarrito(carrito.CarritoID)">
            <button class="btn-delete" type="submit" name="action">
              <i class="material-icons">delete</i>
            </button>
                  </a></td>
    
          <td><a (click)="Edit(carrito.CarritoID)">
  
            <button class="btn-delete" type="submit" name="action">
              <i class="material-icons">create</i>
            </button>
  
          </a></td>
      </tr>
    </tbody>
  </table>

 
  <div  id="Nuevo" class="modal">
    <div class="modal-content">
      <div class="center-align">
        <div class="col s6 m6 center-align">
          <div class="card  darken-1 center-align">
            <div class="row">
              <div class="card-content">
    
                     
                        <div class="input-field col s6">
                          <label class="active"  for="first_name">Nombre</label>
                          <input  id="name" type="text" class="validate" [(ngModel)]="carrito.Nombre"  name="contraseña"  >
                          
                        </div>
                        <div >
                            <a disable class="btn" (click)="crear(carrito.Nombre)">
                                <i class="material-icons">send</i>
                            </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div id="agregar-producto" class="modal">
    <div class="modal-content">
        <h4>Agregar Producto al Carrito</h4>
        <!-- Formulario para agregar producto -->
        <form id="form-agregar-producto">
            <div id="productos">
                <div class="producto">
                    <div class="input-field">
                        <input type="text" class="producto-id" name="producto-id[]" placeholder="ID del Producto">
                        <label>ID del Producto</label>
                    </div>
                    <div class="input-field">
                        <input type="number" class="cantidad" name="cantidad[]" placeholder="Cantidad">
                        <label>Cantidad</label>
                    </div>
                    <div class="input-field">
                        <input type="number" class="precio-unitario" name="precio-unitario[]" placeholder="Precio Unitario">
                        <label>Precio Unitario</label>
                    </div>
                    <div class="input-field">
                        <input type="number" class="total" name="total[]" placeholder="Total">
                        <label>Total</label>
                    </div>
                </div>
            </div>
            <button type="button" id="btn-agregar-producto" class="btn waves-effect waves-light">Agregar Producto</button>
            <button type="submit" class="btn waves-effect waves-light">Agregar al Carrito</button>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
 