<table class="est" *ngIf="carritos != undefined">
    <thead>
      <tr class="card-title">
        <th>Nombre del Carrito</th>
        <th>Fecha de Creación</th>
        <th><a disable class="btn tooltipped" data-tooltip="nuevo carrito" data-position="bottom" (click)="crear()">
              <i class="material-icons">add</i>
            </a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carrito of carritos">
        <td>{{ carrito.Nombre }}</td>
        <td>{{ FormatDate(carrito.FechaCreacion) }}</td>
        <td><a  (click)="eliminarCarrito(carrito.CarritoID)">
            <button class="btn-delete" type="submit" name="action">
              <i class="material-icons">delete</i>
            </button>
                  </a></td>
    
          <td><a (click)="Edit(carrito.CarritoID)">
  
            <button class="btn-delete" type="submit" name="action">
              <i class="material-icons">create</i>
            </button>
  
          </a></td>
      </tr>
    </tbody>
  </table>

  