<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Crear</a></li>
    <li><a href="#!">eliminar</a></li>
    <li class="divider"></li>
    <li><a href="#!">actualizar</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Xtreme<img src="assets/log.png" alt="X"></a>
      <ul class="right hide-on-med-and-down">
        <li><a >      <i class="material-icons">contacts</i></a></li>
        <li><a >      <i class="material-icons">add</i></a></li>
        <li><a >      <i class="material-icons">report_problem</i></a></li>
        <li><a >      <i class="material-icons">help</i></a></li>
      </ul>
    </div>
  </nav>
  
  <table class="default" *ngIf="usuarios != undefined">
  
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.UsuarioID}}</td>
        <td>{{usuario.Nombre}}</td>
    
        <td>{{usuario.correo}}</td>
      
        <td><a  (click)="eliminarUsuario(usuario.UsuarioID)">
          <button class="btn-delete" type="submit" name="action">
            <i class="material-icons">delete</i>
          </button>
                </a></td>
  
        <td><a (click)="Edit(usuario.UsuarioID)">

          <button class="btn-delete" type="submit" name="action">
            <i class="material-icons">create</i>
          </button>

        </a></td>
      </tr>
    
    </table>
  


    <div  id="Editar" class="modal">
      <div class="modal-content">
        <div class="center-align">
          <div class="col s6 m6 center-align">
            <div class="card  darken-1 center-align">
              <div class="row">
                <div class="card-content">
      
                  <span class="card-title center-align" >Registrate</span>
                  <div class="">
                      
                        <div class="row">
                          <div class="input-field col s6">
                            <label class="active"  for="first_name">Nombre</label>
                            <input disabled id="first_name" type="text" class="validate" [(ngModel)]="usuario.Nombre"  name="contraseña"  >
                            
                          </div>
                          <div class="input-field col s6">
                            <input disabled id="last_name" type="text" class="active"[(ngModel)]="usuario.Apellido"  name="contraseña">
                            <label  class="active" for="last_name">Apellido</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <label class="validate" for="password">Contrasena</label>
                            <input id="password" type="password" class="validate" [(ngModel)]="usuario.contrasena" value=" " >
                           
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <label class="validate" for="email">Correo</label>
                            <input id="email" type="email" class="validate" [(ngModel)]="usuario.correo" name="correo">
                         
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="Telefono" type="tel" class="validate"[(ngModel)]="usuario" Name="Telefono">
                            <label class="validate" for="Telefono">Telefono</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input disabled id="Fecha" type="Date" class="validate" [(ngModel)]="usuario.FechaNacimiento" name="FechaNacimiento">
                            <label class="validate" for="Fecha">Fecha de nacimiento</label>
                          </div>
                        </div>
                        <a (click)="check()" class="waves-effect waves-light btn" >ENVIAR</a>
                    </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
    
  