
  
  <table class="default" *ngIf="usuarios != undefined">
  
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.UsuarioID}}</td>
        <td>{{usuario.Nombre}}</td>
    
        <td>{{usuario.correo}}</td>
      
        <td><a  (click)="eliminarUsuario(usuario.UsuarioID)">
          <button class="btn-delete" type="submit" name="action">
            <i class="material-icons">delete</i>
          </button>
                </a></td>
  
        <td><a (click)="Edit(usuario.UsuarioID)">

          <button class="btn-delete" type="submit" name="action">
            <i class="material-icons">create</i>
          </button>

        </a></td>
      </tr>
    
    </table>
  


    <div  id="Editar" class="modal">
      <div class="modal-content">
        <div class="center-align">
          <div class="col s6 m6 center-align">
            <div class="card  darken-1 center-align">
              <div class="row">
                <div class="card-content">
      
                  <span class="card-title center-align" >Actualizar</span>
                  <div class="">
                      
                        <div class="row">
                          <div class="input-field col s6">
                            <label class="active"  for="first_name">Nombre</label>
                            <input disabled id="first_name" type="text" class="validate" [(ngModel)]="usuario.Nombre"  name="contraseña"  >
                            
                          </div>
                          <div class="input-field col s6">
                            <input disabled id="last_name" type="text" class="active"[(ngModel)]="usuario.Apellido"  name="contraseña">
                            <label  class="active" for="last_name">Apellido</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <label class="validate" for="password">Contrasena</label>
                            <input id="password" type="password" class="validate" [(ngModel)]="usuario.Contrasena" value=" " >
                           
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <label class="validate" for="email">Correo</label>
                            <input id="email" type="email" class="validate" [(ngModel)]="usuario.correo" name="correo">
                         
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="Telefono" type="tel" class="validate"[(ngModel)]="usuario.Telefono" Name="Telefono">
                            <label class="validate" for="Telefono">Telefono</label>
                          </div>
                        </div>
                        <!--div class="row col s12">
                          <label>Rol</label>
                          <select [(ngModel)]='usuario.id' class="browser-default">
                          <option *ngFor="let rol of rol" [value]="rol.id_Rol">
                          {{rol.nombre}}
                          </option>
                          </select>
                          </div-->
                        <div class="row">
                          <div class="input-field col s12">
                            <input  id="Fecha" type="Date"  [(ngModel)]="usuario.FechaNacimiento" class="datepicker">
                            <label class="validate" for="Fecha">Fecha de nacimiento</label>
                          </div>
                        </div>
                        <a (click)="check(usuario.UsuarioID)" class="waves-effect waves-light btn" >ENVIAR</a>
                    </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  