.est {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #6e6b6b;
    color: #fff;
  }
  
  .est th,
  .est td {
    padding: 10px;
    text-align: left;
  }
  
  .est th {
    background-color: #7e7e7e;
    color: #00bcd4;
    font-weight: bold;
    border: 1px solid #646262;
  }
  
  .est td {
    background-color: #808080;
    border: 1px solid #7c7c7c;
  }
  
  .est tr:hover {
    background-color: #747474;
  }
  