
  
  <table class="default" *ngIf="membresias != undefined">
  
    <tr *ngFor="let membresia of membresias">
      <td>{{membresia.TipoMembresia}}</td>
      <td>{{membresia.DuracionSemana}}</td>
  
      <td>{{membresia.Precio}}</td>
    
      <td><a >
        <button class="btn-delete" type="submit" name="action">
          <i class="material-icons">delete</i>
        </button>
              </a></td>
<!-- (click)="eliminarUsuario(usuario.UsuarioID)"-->
      <td><a >
        <!--(click)="Edit(usuario.UsuarioID)"-->
        <button class="btn-delete" type="submit" name="action">
          <i class="material-icons">create</i>
        </button>

      </a></td>
    </tr>
  
  </table>

