<table class="est" *ngIf="descuentos != undefined">
    <thead>
      <tr>
        <th>Tipo de Descuento</th>
        <th>Porcentaje</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let descuento of descuentos">
        <td>{{ descuento.TipoDescuento }}</td>
        <td>{{ descuento.PorcentajeDescuento }}</td>
        <td>{{ FormatDate(descuento.FechaInicio) }}</td>
        <td>{{ FormatDate(descuento.FechaFin) }}</td>
      </tr>
    </tbody>
  </table>
  <div class="anuncio">*Los descuentos se aplican automaticamnete depemdiendo de la fecha de inicio y su final</div>
  