
  
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Xtreme<img src="assets/log.png" alt="X"></a>
      <ul class="right hide-on-med-and-down">
        <li><a><i class="material-icons">contacts</i></a></li>
        <li>
          
          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons">add</i></a>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a (click)="descuento()">DESCUENTOS</a></li>
          </ul>
                  
          
          
          </li>
        <li><a><i class="material-icons">report_problem</i></a></li>
        <li><a disable class="btn tooltipped" data-position="bottom" data-tooltip="Desabilitado hasta nuevo aviso"><i class="material-icons" >help</i></a></li>
      </ul>
    </div>
  </nav>
  