.nav-wrapper{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right,#bdbfc1, #1e1e1f); 
    color: #141212; 
}
img{
    width: 5%;
    height: 5%;
    
}
.brand-logo{
    margin-left: 10px;
    color: #282525;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.chip{
    width: flex;
    height: 50px;
    margin-left: flex;
    margin-top: flex;
    background-color: #bdbfc1;
    color: #141212;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}
.chip-image {
    width: 50px;
    height: 50px;
}

.material-icons{
    opacity: 0.7;
    color: #ffffff;;
}
.btn{
    background:#1e1e1e;
    size-adjust: auto;
    
}
.dropdown-content{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    text-size-adjust: auto;
}

